h1, .tituloPag {
    font-family: "Kumbh Sans", sans-serif;
    color: #1a1a1a;
    font-weight: 200;
    padding: 0.4em 1em 0.6em;
    font-size: 2.5em;
    margin: 0;
}

.container-about {
  display: flex;
      background: #dddd;
}

.about-section {
  color: black;
  padding: 0;
   font-family: Georgia, serif;
  line-height: 1.75;
  max-width: 100%;
  margin: auto;
}
.about-section p {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
}
.container-about.dos .about-block {
    display: flex;
    flex-direction: column;
  
    justify-content: center;

}

.about-block {
    padding: 0.4em 2em 0.6em;
    margin: 0;
}

.about-block h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 1.8rem;
  margin: 0 0 1.2rem;
  border-bottom: 1px solid black;
  color: black
}

.about-image {
  text-align: center;
  margin: 4rem 0;
}

.about-image img {
  border-radius: 50%;
  width: 45vw;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}
.container-about.dos .about-image img {
  border-radius: 0;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.image-caption {
   font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-style: italic;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  border-top: 1px dashed #444;
  padding: 1rem;
  margin-top: 3rem;
  color: black;
  background: #dddd;
  text-align: center;
}

details[open] p {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.95rem;
    background: #d8d8d8;
    color: black;
    text-align: justify;
    line-height: normal;
    padding: 1em;
    font-style: italic;
}
@media screen and (max-width: 768px) { 

  .container-about {
    flex-direction: column;
  }
  .container-about.dos {
    flex-direction: column-reverse;
  }
  h1 {  
        padding: 0.7em 1em 0.7em;
        line-height: normal;
    }
.about-block h2 {
    line-height: 1em;
    padding-bottom: 0.5em;
}
.about-block {
    padding: 0.5em 1em;
            margin: 1em 0;
}
.about-image {
  margin: 1em 0;
}
.about-image img {
  width: 90%;
}
.image-caption {
  width: 90%;
    margin: 0 auto;
    text-align: justify;
    line-height: normal;

}
}